body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3287db;
}

* {
    box-sizing: border-box;
}

.top {
    background-image: url("Image.jpg");
    background-size: cover;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

h1 {
    color: white;
    padding-top: 35px;
}

.container {
    background-color: white;
    width: 40%;
    margin: auto;
    border-radius: 10px;

}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
    width: 70%;
    padding: 15px;
    margin: 15px 400px 22px 13%;
    display: inline-block;
    border: 1px solid #f1f1f1;
    background: #f1f1f1;
    border-radius: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #185a9d;
    color: white;
    padding: 16px 20px;
    margin: 8px 24%;
    border: none;
    cursor: pointer;
    width: 50%;
    position: relative;
    border-radius: 15px;
    opacity: 0.9;
}

b {
    padding: 15px;
    margin: 0 0px 0px 12%;
    color: #77797c;
}

.registerbtn:hover {
    opacity: 1;
    background-color: #43b3b8;
}

a {
    color: dodgerblue;
}

input[type=checkbox] {

    margin: 10px 0px 40px 14%;
}

#agree {
    margin: 0px;
    padding: 0px;
}